PORT=5000
MONGO_URI=mongodb+srv://shri:Shripad%401336@cluster0.rvkqs7c.mongodb.net/miniproject

JWT_SECRET=your_jwt_secret_here
CLOUDINARY_CLOUD_NAME=your_cloud_name

CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
